* {
    box-sizing: border-box;
}

body {
    background-image: url(img/Montagne.jpg);
    background-size: 100%;
}
.containt {
    position: absolute;
    background-color:black;
    color: aliceblue;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgb(159, 158, 158);
    padding-left: 20px;
    padding-right: 80px;
    border-radius: 10px;
    opacity: 0.9;
}
input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px ;
    margin: 10px 0;
    width: 30%;
}